@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
     font-weight: bold;
}

.navbar {
    background: linear-gradient(red, #000);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.navbar > .logo > img {
    width: 150px;
}

.navbar > .items > ul {
    display: flex;
    list-style-type: none;
    gap: 17px;
}

.navbar > .btn > button {
    border: none;
    padding-inline: 10px;
    padding-block: 3px;
    border-radius: 50px;
    font-size: 15px;
    background-color: red;
    color: white;
    font-weight: bold;
}

.main-carousel {
    width: 100%;
    height: 70vh;
}

.main-carousel .carousel-cell{
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}