*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-carousel {
    width: 100%;
    height: 70vh;
}

.main-carousel .carousel-cell{
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}