.heading {
    background-color: black;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* position: fixed; */
    position: sticky;
    top: 0px;
}

.para {
    /* background-color: black;
    color: white; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

.paragraph{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}